@font-face {
    font-family: 'Manjari Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Manjari Thin'), url('Manjari-Thin.woff') format('woff');
    }

    h1 {
        font-family: 'Manjari Thin';
        padding: 25px;
        color: rgb(24,78,80);
        letter-spacing: .2vh;
    }
    /* input:focus {
        outline: green;
    } */